---
// Import the necessary dependencies.
import AuthBtn from '@components/ui/buttons/AuthBtn.astro'
import ContactIconBlock from '@components/ui/blocks/ContactIconBlock.astro'
import TextInput from '@components/ui/forms/input/TextInput.astro'
import EmailContactInput from '@components/ui/forms/input/EmailContactInput.astro'
import PhoneInput from '@components/ui/forms/input/PhoneInput.astro'
import TextAreaInput from '@components/ui/forms/input/TextAreaInput.astro'
import Icon from '@components/ui/icons/Icon.astro'

// Define the variables that will be used in this component
const title: string = 'Contact us'
const subTitle: string = 'Get in touch today to discuss your next project.'
const formTitle: string = 'Fill in the form below'
const formSubTitle: string = "We'll get back to you shortly."
---

<!-- Contact Us -->
<section class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14'>
  <div class='mx-auto max-w-2xl lg:max-w-5xl'>
    <div class='text-center'>
      <h1
        class='text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight'
      >
        {title}
      </h1>
      <p class='mt-1 text-pretty text-neutral-600 dark:text-neutral-400'>
        {subTitle}
      </p>
    </div>

    <div
      class='space-between mt-3 flex flex-col justify-center md:flex-row md:gap-28'
    >
      <ContactIconBlock
        heading='Call Us'
        content='Speak to one of our expert advisors.'
        isLinkVisible={true}
        linkTitle='Call Us: 01698 679868'
        linkURL='tel:01698679868'
        isArrowVisible={true}
        ><Icon name='chatBubble' />
      </ContactIconBlock>

      <ContactIconBlock
        heading='Contact us by email'
        content='Send us an email at'
        isLinkVisible={true}
        linkTitle='admin@agoracontracts.com'
        linkURL='mailto:admin@agoracontracts.com'
        ><Icon name='envelopeOpen' />
      </ContactIconBlock>
    </div>
  </div>
</section>
